* {
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 45px;
    margin: 20px 30px;
}

h2 {
    font-size: 30px;
    margin: 20px 30px;
}

p {
    font-size: 27px;
    margin: 20px 35px;
}

ul {
    font-size: 20px;
    margin: 30px 80px;
}

button {
    font-size: 16px;
    width: 110px;
    height: 30px;
}

#button {
    margin: 0 35px;
}

img {
    margin: 0px 40px;
    width: 150px;
}
